{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<section id="about">
    <h1 class="h-primary center">About us</h1>
    
    <div id="about-us">
        <div class="box">
            <img src="../static/img/classical.jpg" alt="Classical">
            <div>
                <h2 class="h-secondary center">Classical Dance</h2>
                <p class="center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptas porro? Facilis, cupiditate sapiente commodi incidunt ex, consequuntur reprehenderit architecto eum fugit sit nihil adipisci repellendus ipsa cumque provident temporibus animi ipsum.
                </p>
            </div>
            <img src="../static/img/classical_men.jpg" alt="Classical">
        </div>
    </div>

    <div id="about-us">
        <div class="box">
            <img src="../static/img/bollywood.jpg" alt="Bollywood">
            <div>
                <h2 class="h-secondary center">Bollywood</h2>
                <p class="center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat tempore voluptates alias molestiae eveniet officiis dolorem voluptatibus tempora sed nulla. Optio iste molestiae laudantium consequatur amet voluptatum! Possimus id placeat voluptates et?
                </p>
            </div>  
            <img src="../static/img/bollywood2.jpg" alt="Bollywood">            
        </div>
    </div>

    <div id="about-us">
        <div class="box">
            <img src="../static/img/hiphop.jpg" alt="Hiphop">
            <div>
                <h2 class="h-secondary center">Hiphop</h2>
                <p class="center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum autem similique eaque sint, perspiciatis consequatur, doloribus mollitia nobis itaque porro deleniti nostrum delectus quo blanditiis necessitatibus eos adipisci maiores quis. Inventore.
                </p>
            </div>
            <img src="../static/img/hiphop_girl.jpg" alt="Hiphop">
        </div>
    </div>

    <div id="about-us">
        <div class="box">
            <img src="../static/img/breakdance1.webp" alt="Breakdance">
            <div>
                <h2 class="h-secondary center">Breakdance</h2>
                <p class="center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quo itaque vero, quis quisquam veritatis eligendi deserunt officiis consectetur iure totam eveniet laborum quia inventore assumenda ullam, eum adipisci. Accusantium, ea amet.
                </p>
            </div>
            <img src="../static/img/breakdance2.webp" alt="Breakdance">
        </div>
    </div>

    <div id="about-us">
        <div class="box">
            <img src="../static/img/salsa.jpg" alt="Salsa">
            <div>
                <h2 class="h-secondary center">Salsa</h2>
                <p class="center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quo itaque vero, quis quisquam veritatis eligendi deserunt officiis consectetur iure totam eveniet laborum quia inventore assumenda ullam, eum adipisci. Accusantium, ea amet.
                </p>
            </div>
            <img src="../static/img/salsa2.webp" alt="Salsa">
        </div>
    </div>

    <div id="about-us">
        <div class="box">
            <img src="../static/img/ballet_girl_new.png" alt="Ballet">
            <div>
                <h2 class="h-secondary center">Ballet</h2>
                <p class="center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quo itaque vero, quis quisquam veritatis eligendi deserunt officiis consectetur iure totam eveniet laborum quia inventore assumenda ullam, eum adipisci. Accusantium, ea amet.
                </p>
            </div>
            <img src="../static/img/ballet_boy.jpg" alt="Ballet">
        </div>
    </div>

</section>

{% endblock body %}