{% extends 'base.html' %}

{% block title %}Classes{% endblock title %}

{% block body %}

<section id="classes">
    <div class="headings">
        <div class="box">
            <h2>Class Schedule (Online)</h2>
        </div>
        <div class="box">
            <h2>Class Schedule (International)</h2>
        </div>
    </div>

    <div class="schedule">
        <div class="box">
            Kids Juniors <br>
            Wednesdays : 4.30 pm to 5.30 pm <br>
            Saturdays : 3.30 pm to 4.30 pm
        </div>

        <div class="box">
            USA Kids <br>
            Wednesday : 8pm to 9pm EST / EDT
        </div>

        <div class="box">
            Kids Seniors <br>
            Wednesdays : 5.30 pm to 6.30 pm <br>
            Saturdays : 4.30 pm to 5.30 pm
        </div>

        <div class="box">
            USA Adults <br>
            Tuesday : 8pm to 9pm EST / EDT <br>
            Thursday : 8pm to 9pm EST / EDT <br>
        </div>

        <div class="box">
            Adults <br>
            Wednesdays : 5.30 pm to 6.30 pm <br>
            Saturdays : 4.30 pm to 5.30 pm
        </div>

        <div class="box">
            USA Fees :  11$ Per class
        </div>

        <div class="box">
            Weekend Adults Contemporary Dance Class <br>
            Saturdays: 2 pm to 3 pm <br>
            Sundays: 11 am to 12 pm
        </div>

        <div class="box">
            Korea Kids <br>
            Wednesday : 8pm to 9pm EST / EDT
        </div>

        <div class="box">
            Weekday Adults Contemporary Dance Class <br>
            Tuesdays: 7 pm to 8 pm <br>
            Thursdays : 7 pm to 8 pm
        </div>

        <div class="box">
            Korea Adults <br>
            Tuesday : 8pm to 9pm EST / EDT <br>
            Thursday : 8pm to 9pm EST / EDT <br>
        </div>

        <div class="box">
            Fees : <br>
            A) 2000/- for a month (8 classes) <br>
            B) 300/- for trial / drop-in class
        </div>

        <div class="box">
            Korea Fees :  11$ Per class
        </div>

    </div>

</section>

{% endblock body %}